*
	margin: 0
	padding: 0
	font-family: 'Montserrat', sans-serif

.parallax
	background-attachment: fixed
	background-repeat: no-repeat
	height: 100vh
	margin: 0 auto
	overflow: hidden
	padding: 0
	position: relative
	width: 100% !important
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

#section1
	background-image: url(../images/section1_solar.jpg)
#section2
	background-color: #EEEEEE
#section3
	background-image: url(../images/section3_solar.jpg)
