html, body
	height: 100%
	width: 100%


#home
	background: url(https://images.unsplash.com/photo-1449452198679-05c7fd30f416?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=73181f1c6d56b933b30de2bfe21fdf3b) no-repeat center center fixed
	display: table
	height: 100%
	position: relative
	width: 100%
	background-size: cover
	//-webkit-background-size: cover
  //-moz-background-size: cover
	//-o-background-size: cover
	color: white

.text-vcenter
	display: table-cell
	text-align: center
	vertical-align: middle

	h1
		font-size: 4.5em
		font-weight: 700
		margin: 0
		padding: 0s
