.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100% !important;
}

#section1 {
  background-image: url(../images/bg_0.jpg);
}

#section2 {
  background-image: url(../images/bg_1.jpg);
}

#section3 {
  background-image: url(../images/bg_2.jpg);
}
